<article id="countdown">
	<span class="days">{$countdown->days}</span> :
	<span class="hours">{$countdown->hours}</span> :
	<span class="minutes">{$countdown->minutes}</span> :
	<span class="seconds">{$countdown->seconds}</span>
</article>
