* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, "sans-serif";
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	.middle {
		display: table-cell;
		vertical-align: middle;
	}
}

#countdown {
	font-size: 10vmin;
	font-weight: bold;
	text-align: center;
	.number {
		font-family: "Lucida Console", monospace;
	}
	.colon {
		color: #ccc;
		opacity: 0.5;
	}
}
#story {
	font-size: 5vmin;
	text-align: center;
	&.notfound h1 {
		font-style: italic;
		color: #888;
	}
}
