* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, "sans-serif";
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.outer .middle {
  display: table-cell;
  vertical-align: middle;
}
#countdown {
  font-size: 10vmin;
  font-weight: bold;
  text-align: center;
}
#countdown .number {
  font-family: "Lucida Console", monospace;
}
#countdown .colon {
  color: #ccc;
  opacity: 0.5;
}
#story {
  font-size: 5vmin;
  text-align: center;
}
#story.notfound h1 {
  font-style: italic;
  color: #888;
}
