* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, "sans-serif";
}
body.page-countdown {
  background: #000;
  color: #fff;
}
body.page-create main {
  width: 90%;
  margin: 30px auto;
}
form input {
  color: #000;
}
.main-outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-outer .main-inner {
  display: table-cell;
  vertical-align: middle;
}
.main-outer .main-inner #prologue {
  font-size: 5vmin;
  position: absolute;
  width: 100%;
  text-align: center;
}
.main-outer .main-inner #prologue .prologue-inner {
  position: relative;
  top: -10vh;
}
.main-outer .main-inner #countdown {
  font-size: 10vmin;
  font-weight: bold;
  text-align: center;
}
.main-outer .main-inner #countdown .number {
  font-family: "Lucida Console", monospace;
}
.main-outer .main-inner #countdown .colon {
  color: #ccc;
  opacity: 0.5;
}
.main-outer .main-inner #epilogue {
  font-size: 5vmin;
  text-align: center;
}
.main-outer .main-inner #epilogue h1 {
  font-size: 8vmin;
}
.main-outer .main-inner #epilogue.homepage-epilogue {
  font-size: 3vmin;
}
.main-outer .main-inner #epilogue.homepage-epilogue p {
  font-style: italic;
  color: #888;
}
.create-form .form-color {
  width: 70px;
}
