{layout layout.latte}

{block content}

<div class="outer">
	<div class="middle">
		<article id="story" class="notfound">
			<h1>404 odpočet neexistovat</h1>
			<p><a class="btn btn-success" href="{$basePath}/create">Vytvořit</a></p>
		</article>
	</div>
</div>
