{layout layout.latte}

{block content}

<div class="main-outer">
	<div class="main-inner">
		<article id="epilogue" class="homepage-epilogue">
			<h1>Odpočetfacky.com</h1>
			<p>odpočet neexistuje</p>
			<p><a class="btn btn-success" href="{$basePath}/create">Vytvořit</a></p>
		</article>
	</div>
</div>
