{layout layout.latte}

{block content}

<article id="countdown">
	<span id="days">{$countdown->days}</span> :
	<span id="hours">{$countdown->hours}</span> :
	<span id="minutes">{$countdown->minutes}</span> :
	<span id="seconds">{$countdown->seconds}</span>
</article>
