{layout layout.latte}

{block content}

<div class="outer">
	<div class="middle">
		{include 'components/countdown.latte'}

		<article id="story">
			<p>Odpočetfacky.com</p>
		</article>
	</div>
</div>
